movie_clickhouse:
  target: dev
  outputs:
    dev:
      type: clickhouse
      schema: gold
      host: clickhouse
      port: 8123
      user: analytics
      password: analytics_pw
      secure: False
      verify: False
      database: default
      threads: 4
