# Copy this file to ".env" and fill in your personal credentials.

# Kaggle API credentials
KAGGLE_USERNAME=your_kaggle_username_here
KAGGLE_KEY=your_kaggle_key_here

# ClickHouse credentials
CLICKHOUSE_USER=dbt_user
CLICKHOUSE_PASSWORD=dbt_password
CLICKHOUSE_DB=data_warehouse

# Iceberg REST + Warehouse
ICEBERG_REST_URI=http://iceberg-rest-catalog:8181
ICEBERG_WAREHOUSE=s3://practice-bucket/

# MinIO
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
