# --- SYSTEM & EDITOR FILES ---
.DS_Store
Thumbs.db

# --- PYTHON CACHE & ENVIRONMENTS ---
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
.pytest_cache/
.mypy_cache/

# --- ENVIRONMENT FILES ---
.env
.env.*

# --- DATA & TEMPORARY FILES ---
*.tsv
*.csv
*.zip

# --- DOCKER DATA VOLUMES ---
clickhouse_data/
pgdata_airflow/

# --- AIRFLOW DIRECTORIES ---
airflow/logs/
airflow/dags/raw/
airflow/dags/__pycache__/

# --- DBT DIRECTORIES ---
dbt/target/
dbt/dbt_packages/

# --- IDE / PROJECT SETTINGS ---
.vscode/
.idea/